<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Registro de empresa</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">

    <ion-item >
      <ion-label position="floating">Id Empresa</ion-label>
      <ion-input type = "text"  [(ngModel)]="data.idEmpresa"></ion-input>
    </ion-item>

    <ion-item >
      <ion-label position="floating">Nombre de la empresa</ion-label>
      <ion-input type = "text"  [(ngModel)]="data.Nombre"></ion-input>
    </ion-item>
    <br>
    <ion-item >
        <ion-label position="floating">RFC</ion-label>
        <ion-input type = "text" [(ngModel)]="data.RFC" ></ion-input>
    </ion-item>
    <br>
    <ion-item >
        <ion-label position="floating">Domicilio</ion-label>
        <ion-input type = "text" [(ngModel)]="data.Domicilio" ></ion-input>
    </ion-item >
    <br>
    <ion-item >
        <ion-label position="floating">Activo</ion-label>
        <ion-input type = "text" [(ngModel)]="data.Activo" ></ion-input>
    </ion-item>
    <br>
    <ion-item >
        <ion-label position="floating">Fecha creacion</ion-label>
        <ion-input type = "text" [(ngModel)]="data.FechaCreacion"></ion-input>
    </ion-item>
    <br>
    <ion-item >
        <ion-label position="floating">Fecha Modificacion</ion-label>
        <ion-input type = "text" [(ngModel)]="data.FechaModificacion"></ion-input>
    </ion-item>
    
    <ion-item >
            <ion-label position="floating">Usuario IdUsuario</ion-label>
            <ion-input type = "text" [(ngModel)]="data.Usuarios_idUsuario"></ion-input> 
        </ion-item>
    
    
    <br>
    <ion-button expand="large" (click)="AgreagarEmpresa()">Entrar</ion-button>
    <br>
    
  </ion-content>
  