<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
    <div class="ion-text-center">
    <ion-img src={{urlimg}} style="width: 200px; height: 200px;" class="center"></ion-img>
    </div>
    <br>
  <div class="ion-text-center">
    <h2>PromostApp</h2>
  </div>
  <br>
  <br>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Ingresa usuario</ion-label>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ingresa contraseña</ion-label>
      <ion-icon slot="start" name="lock"></ion-icon>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-text-center">
    <ion-button fill="solid" color="secondary" round (click)="login()">Ingresar</ion-button>
    <ion-button fill="solid" color="secondary" round (click)="register()">Registrar</ion-button>
  </div>
</ion-content>
